.chat-side
  .side__header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        =link_to new_group_path, class: "side-header__box__menu__new-group" do
          = fa_icon 'edit'
        =link_to edit_user_path(current_user), class: "side-header__box__menu__edit-user" do
          = fa_icon 'cog'


  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。

